body {
}

/**Restyle*/
.navbar-default {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#E1F5FC), to(#B2DCED));
    background-image: -webkit-linear-gradient(top, #E1F5FC 0%, #B2DCED 100%);
    background-image: -moz-linear-gradient(top, #E1F5FC 0%, #B2DCED 100%);
    background-image: linear-gradient(to bottom, #E1F5FC 0%, #B2DCED 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1F5FCFF', endColorstr='#ffB2DCED', GradientType=0);
    -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
    font-family: Leelawadee, 'Bell MT';
}



.navbar-nav {
    font-family: Leelawadee, 'Bell MT';
}

.form-horizontal {
    text-align: center;
}

.jumbotron {
    background-color: white;
    text-align: center;
    font-family: Leelawadee,'Bell MT';
}

h1 {
    font-family: 'Script MT', 'Bell MT';
    padding-bottom: 70px;
}

h2, .modal-footer {
    text-align: center;
    font-family: Leelawadee, 'Bell MT';
}

.navbar-brand {
    font-family: 'Script MT', 'Bell MT';
    font-style: italic;
}

h3 {
    font-family: 'Script MT', 'Bell MT';
    font-size: 45px;
    padding-top: 20px;
    padding-bottom: 0;
    border-bottom: 0;
}

.form-horizontal {
    align-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    ruby-align: center;
}

legend {
    font-family: 'Script MT', 'Bell MT';
}


ul, li {
    display: inline-block;
    float: none;
}